/* reset code and common starts here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
}
/* reset code and common endss here */
/* nav styles starts here */
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 12vh;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-child-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo{
    margin-right: 1rem;
}
.nav-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    margin-right: 1.5rem;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.nav-title{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
}
.btn-follow{
    border-radius: 8px;
    border: none;
    padding: 1rem 1.5rem;
    background: rgba(11, 2, 35, 0.10);
}
.fa-youtube{
    margin-left: 1.5rem;
    margin-right: 1rem;
}
/* nav styles ends here */
/* banner styles starts here */
.banner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90vh;
}
.banner-content{
    width: 50%;
    height: 90vh;
    background-image: url("./images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-main{
    width: fit-content;
    height: fit-content;
    margin: 100px auto;
}
.banner-heading-top{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-heading-bottom{
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-list{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.banner-btn-1{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 30px;
    margin-right: 24px;
    border: none;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.banner-btn-2{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 30px;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
}
.fa-circle-play, .fa-user-group, .fa-download{
    margin-right: 5px;
}
.fa-circle-play, .fa-download{
    color: #FF42A5;
}

.banner-pic{
    width: 100%;
    height: 95%;
}
/* banner styles ends here */
/* funny video styles starts here */
.funny-video-sec{
    margin-top: 50px;
}
.funny-sec-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.funnny-sec-para{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}
.funny-video-container{
    display: flex;
    justify-content: center;
    margin: 30px auto;
    gap: 2rem;
}
.funny-video{
    width: 280px;
    height: 280px;
}
.funny-img{
    width: 100%;
    height: 90%;
}
.f-v{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* funny video styles ends here */
/* play starts here */
.play-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90vh;
}
.play-content{
    width: fit-content;
    height: fit-content;
    margin: 15px auto;
}
.play-title{
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    color: #0B0223;
}
.p-i{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-para{
    color: #534C64;
    text-align: right;
    font-size: 1rem;
    font-weight: 400;
}
.play-img{
    position: relative;
    right: 100px;
}
.play-img-1{
    width: 400px;
    height: 400px;
}
.play-img-2{
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -50px;
    left: -50px;
}
/* play ends here */
/* other games starts here */
.games-container{
    width: 80%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px auto;
}
.game-item{
    width: fit-content;
    height: 45px;
    padding: 8px;
    margin-left: 5px;
    display: flex;
    transition: all 0.5s;
}
.game{
    margin-top: 2px;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s;
}
.game:hover{
    color: #FF42A5;
}
.game-item:hover{
    color: #FF42A5;
    cursor: pointer;
    border: 1px solid #FF42A5;
    border-radius: 10px;
}
.game-item img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
/* other games ends here */
/* responsiveness starts here */
@media screen and (max-width: 768px) {
    .nav-container{
        height: 20vh;
    }
    .nav-link{
        font-size: 1rem;
        margin-right: 1rem;
    }
    .btn-follow{
        padding: 10px;
    }
    .fa-youtube{
        margin-left: 10px;
        margin-right: 10px;
    }
    .banner-heading-top{
        font-size: 3rem;
    }
    .banner-heading-bottom{
        font-size: 3.5rem;
    }
    .banner-main{
        margin-left: 1.5rem;
    }
     .banner-content{
        width: 50%;
    }
    .banner-img{
        width: 50%;
    } 
    .funny-video{
        width: 20%;
        height: 85%;
    }
    .play-title, .play-para{
        text-align: center;
    }
    .play-content{
        margin-left: 10px;
    }
    .play-img{
        right: 10px;
    }
    .play-img-1{
        width: 200px;
        height: 200px;
    }
    .play-img-2{
        width: 100px;
        height: 100px;
    }
    .play-title{
        font-size: 2rem;
    }
}
@media screen and (max-width: 425px) {
    .nav-container,
    .nav-links,
    .banner,
    .funny-video-container,
    .play-container{
        flex-direction: column;
        justify-content: center;
        gap: 12px;
    }
    .nav-container{
        min-height: 100px;
        box-shadow: none;
        margin-top: 5px;
    }
    .nav-child-1,
    .nav-child-2{
        min-height: 50px;
    }
    .nav-title{
        font-size: 2rem;
    }
    .nav-link{
        font-size: 10px;
    }
    .banner{
        min-width: 80%;
        margin: 50px auto;
        gap: 30px;
    }
    .banner-content{
        margin-top: 400px;
        min-height: 85%;
        min-width: 100%;
    }
    .banner-main{
        margin-left: 30px;
    }
    .banner-btn-1,.banner-btn-2{
        padding: 10px 15px;
    }
    .banner-btn-1{
        margin-right: 10px;
    }
    .banner-img{
        margin-top: 80px;
        margin-left: 15px;
        min-width: 90%;
    }
    .banner-heading-top{
        font-size: 2rem;
    }
    .banner-heading-bottom{
        font-size: 3rem;
    }
    .funny-video-sec{
        margin-top: 500px;
    }
    .funny-video{
        min-width: 300px;
        min-height: 250px;
        margin-left: 60px;
    }
    .play-title, .play-para{
        text-align: center;
    }
    .play-para{
        margin: 5px 15px;
    }
    .play-img{
        right: 1px;
    }
    .game{
        font-size: 10px;
    }
    .game-item img {
        width: 10px;
        height: 10px;
        margin-right: 1px;
    }
    .game-item{
        width: fit-content;
        height: 15px;
        padding: 2px;
        margin-left: 1px;
        
    }
}

/* responsiveness ends here */